* {
    font-family: Poppins, sans-serif;
    padding: 0;
    margin: 0;
  }
  
  .main-block {
    background-color: #e5e5e5;
  }
  
  .head-menu {
    background-color: #fff;
  }
  
  .nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: #6070ff;
    text-decoration: none;
    margin-top: 6.3vh;
    margin-left: 2.8vh;
    font-weight: 700;
    font-size: 2vh;
  }
  
  nav > .fa-bars {
    margin-top: 6.3vh;
    margin-right: 4.2vh;
    color: #6070ff;
  }
  
  .home-page {
    background-image: url("./Images/header-shapes-mobile@2x.png");
    background-repeat: no-repeat;
    background-color: #fff;
    height: 80vh;
    border-bottom-left-radius: 9vh;
  }
  
  .home-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .intro {
    font-size: 4.8vh;
    font-weight: 700;
    margin-top: 12vh;
    margin-left: 2.8vh;
    margin-right: 2.8vh;
    color: #172b4d;
  }
  
  .intro-description {
    font-size: 16px;
    font-weight: 400;
    color: #344563;
    margin-top: 1.5vh;
    margin-left: 2.8vh;
    margin-right: 2.8vh;
  }
  
  .bottom-connect {
    font-weight: 500;
    font-size: 2vh;
    color: #7f8cff;
    margin: 1.5vh 2.8vh;
  }
  
  .icon-container {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 23vh;
    margin-left: 2.8vh;
    color: #505f79;
  }
  